- loading data

In [13]:
! wget https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/melb_data.csv

--2022-01-24 18:30:51--  https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/melb_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2091239 (2.0M) [text/plain]
Saving to: ‘melb_data.csv.1’

melb_data.csv.1     100%[===================>]   1.99M  --.-KB/s    in 0.02s

2022-01-24 18:30:51 (129 MB/s) - ‘melb_data.csv.1’ saved [2091239/2091239]

-- reading and importing libaray

In [14]:
# improt 
import pandas as pd

data_melb = pd.read_csv('melb_data.csv')

# looking a head of data
data_melb.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [15]:
data_melb.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

-- definte X and y

In [16]:
y = data_melb['Price']
X = data_melb.drop('Price', axis = 1)

In [17]:
X.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 20 columns]

In [18]:
# some prerocessing brefore start
object_col = [col for col in X.columns if X[col].dtype == 'object']
col_with_more_10_uinuqe_value = [col for col in object_col if len( X[col].unique()) > 10]
print(object_col)
print(col_with_more_10_uinuqe_value)

['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea', 'Regionname']
['Suburb', 'Address', 'SellerG', 'Date', 'CouncilArea']

In [19]:
X = X.drop(col_with_more_10_uinuqe_value, axis = 1)
X.columns

Index(['Rooms', 'Type', 'Method', 'Distance', 'Postcode', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [20]:
# split numerical and category data
num_col = list(X.select_dtypes(exclude='object').columns)
object_col = [col for col in X.columns if X[col].dtype == 'object']
print(object_col)
print(num_col)

['Type', 'Method', 'Regionname']
['Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude', 'Propertycount']

In [21]:
# import libaray used 
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score

In [22]:
# apply in numberical
simputer = SimpleImputer(strategy='constant')

# apply in categroy
cat_transformar = Pipeline(steps=[
                                  ('imputer', SimpleImputer(strategy='most_frequent')),
                                  ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# columns transformar
preprocessor = ColumnTransformer(transformers=[
                                               ('num', simputer, num_col),
                                               ('cat', cat_transformar, object_col)
])

In [24]:
# apply preprocssor and model by pipeline
my_pipline = Pipeline(steps=[
                             ('preprocssor', preprocessor),
                             ('model', model)
])

In [25]:
# fitting model and predict
scores = -1 * cross_val_score(my_pipline, X, y, cv = 5, scoring='neg_mean_squared_error')

In [29]:
scores

array([9.74453644e+10, 9.48555204e+10, 1.01311270e+11, 7.02506908e+10,
       8.97659965e+10])

### Calcaluite MAE

In [28]:
print("MAE is :", scores.mean())

MAE is : 90725768432.20084