Loading data

In [16]:
# loading data
! wget https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/IRIS.csv

--2022-01-23 09:05:06--  https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/IRIS.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4466 (4.4K) [text/plain]
Saving to: ‘IRIS.csv.1’

IRIS.csv.1          100%[===================>]   4.36K  --.-KB/s    in 0s

2022-01-23 09:05:06 (42.8 MB/s) - ‘IRIS.csv.1’ saved [4466/4466]

In [17]:
# reading data
import pandas as pd

In [18]:
# read 
data_iris = pd.read_csv('IRIS.csv')
# showing head of data
data_iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### spliting data

In [19]:
# split data
from sklearn.model_selection import train_test_split

In [20]:
# definte X and y
y = data_iris['species']
X = data_iris.drop('species', axis = 1)

In [21]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [23]:
# train and test
X_train, X_test, y_train, y_test = train_test_split(X,y ,test_size = 0.25, random_state = 0)

In [24]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(112, 4)
(38, 4)
(112,)
(38,)

In [25]:
# build model
from sklearn.tree import DecisionTreeClassifier

In [26]:
# creare model and fit
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [27]:
# predict model
preds = dt.predict(X_test)

In [28]:
# import  matrices 
from sklearn.metrics import accuracy_score, classification_report

In [29]:
accuracy_score(y_true= y_test, y_pred=preds)

0.9736842105263158

In [30]:
print(classification_report(y_true= y_test, y_pred=preds))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        13
Iris-versicolor       1.00      0.94      0.97        16
 Iris-virginica       0.90      1.00      0.95         9

       accuracy                           0.97        38
      macro avg       0.97      0.98      0.97        38
   weighted avg       0.98      0.97      0.97        38