# *1. Loading Data

In [1]:
# first import data
! wget https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/IRIS.csv

--2022-01-22 13:51:56--  https://raw.githubusercontent.com/mohammedashrafdagga/ds_lr/main/dataset/IRIS.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4466 (4.4K) [text/plain]
Saving to: ‘IRIS.csv’

IRIS.csv            100%[===================>]   4.36K  --.-KB/s    in 0s

2022-01-22 13:51:56 (43.5 MB/s) - ‘IRIS.csv’ saved [4466/4466]

# *2. Importing Libaray

In [4]:
# read data
import pandas as pd

# *3. deinte data

In [5]:
# read iris data file
data_iris = pd.read_csv('IRIS.csv')
data_iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# 4.* Select X and y

In [6]:
data_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
# select x and y
# .1. deinte y
y = data_iris['species']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [8]:
# 2.2 dinfinte X
iris_col = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
X = data_iris[iris_col]
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

# 5.* Create Model

In [9]:
# now used DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

In [10]:
# create object 
dt = DecisionTreeClassifier(random_state=1)

# 6.* Train model

In [11]:
# train model
dt.fit(X,y)

DecisionTreeClassifier(random_state=1)

# 7.* perdict model

In [13]:
# predict model for first five row form data
preds = dt.predict(X.head())
print("This prediction First five row")
print(preds)
print("This real value target for first five row")
print(y.head())

This prediction First five row
['Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa']
This real value target for first five row
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: species, dtype: object